
 /*Nueva paleta de colores
 Morado #7d5ebf
 Azul oscuro #009df5
 azul aguamarina #00d1f9
 azul-verde #53fbdd
 
 */

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

html{
    /* me permite deslizar cuando hago click en los links del menu*/
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;/* para que esté por encima de otros elementos */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #53fbdd;
    padding: 25px;
}

.mi-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.mi-logo p{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #7d5ebf;
    padding-left: 5px;
    padding-top: 3px;
     

}
.enlaces-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}
.enlaces-container a{
    text-decoration: none;
    color: #009df5;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;

}
.enlaces-container a:nth-child(6){
    color: #009df5;
    font-weight: 700;
    font-style: normal;
}

/*Seccion 0*/
.seccion1-container{
    display: flex;
    justify-content: space-evenly;
    box-sizing: content-box;
    margin-top: 82.33px;
    height: 450px;
    padding-left: 200px;
    background: linear-gradient(#7d5ebf, #009df5,#00d1f9, #53fbdd); /* Para animación fondo gradient*/
    background-size: 300% 300%;
    animation: bg 12s ease infinite;
    
}
/*animación fondo gradient*/
@keyframes bg{
    0%{
        background-position: 0% 50%; 
    } 
    50%{
        background-position: 100% 100%;        
    }
    100%{
        background-position: 0% 50%;

    }
}

.seccion-1{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
}
.seccion-1 h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    color: #7d5ebf;
    padding-top: 60px;
    text-shadow:
    0 0 3px white,
    0 0 8px white,
    0 0 10px white;
    
}
.seccion-1 p{
    padding-top: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #F5F5F5;
}
.links-container{
    padding-top: 20px;
}
.links-container a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    color: #7d5ebf;
}
.links-container img{
    position: relative;
    top: 4px;
}
.perfil-container{
    position: relative;
    right: 150px;
    top: 30px;
    width: 370px;
    height: 370px;
    box-sizing: border-box;
}
.perfil-container img{
    box-sizing: border-box;
    width: 368px;
    height: 368px;
    border-radius: 200px;
}

/*Seccion Sobre mi*/
.seccion2-container{
    display: flex;
    background-color: #009df5;
    width: 100%;
    height: 421px;
}

.seccion-sobremi{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 400px;
    padding-top: 80px;
}
.seccion-sobremi h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #53fbdd;
}
.seccion-sobremi p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #F5F5F5;
    padding-top: 30px;
    
}

/*Responsive*/
@media (max-width: 1440px){ 
    .seccion1-container{
        display: flex;
        justify-content: space-evenly;
        box-sizing: content-box;
        height: 450px;
        padding-left: 100px;
        background-color: #F5F5F5;
    }
    .perfil-container{
        right: 50px;   
    }
    .mi-logo{
        right: 100px;
    }
    .mi-logo p{
        padding-left: 10px;
    }
    .seccion2-container{
        display: flex;
        background-color: #EAF2FD;
        width: 100%;
        height: 360px;
    }
    .seccion-sobremi{
        padding-left: 180px;
    }
}

@media (max-width: 768px){ 
    .enlaces-container{
        left: 30px; 
    }
    .mi-logo{
        position: relative;
        left: 5px;
    }
    .mi-logo p{
        padding-left: 10px;
    }
    .seccion1-container{
        height: 550px;
        padding-left: 50px;
        background-color: #F5F5F5;
    }
    .seccion-1 h1{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        color: #464646;
        padding-top: 60px;
    }
    .seccion-1 p{
        padding-top: 20px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #464646;
    }
    .perfil-container{
        right: 20px;
        top: 90px;
    }
    .perfil-container img{
        width: 268px;
        height: 268px;
    }
    .seccion2-container{
        display: flex;
        background-color: #EAF2FD;
        width: 100%;
        height: 367px;
    }
    .seccion-sobremi{
        padding-left: 50px;
        padding-top: 40px;
    }
    .seccion-sobremi p{
        padding-right: 50px;
    }
}

@media screen and (max-width: 414px){
    nav{
        display: flex;
        background-color: #F5F5F5;
        padding: 15px;
    }
    .mi-logo{
        position: absolute;
        left: 10px;
        display: grid;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .mi-logo p{
        position: absolute;
        left: 25px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #464646;
        padding-left: 5px;
        padding-top: 3px;
    
    }

    .enlaces-container{
        position: relative;
        box-sizing: border-box;
        width: 200px;
        
    }
    .enlaces-container a{
        text-decoration: none;
        color: #464646;
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
    }
    .enlaces-container a:nth-child(1){
        display: none;
    }
    .enlaces-container a:nth-child(2){
        display: none;
    }
    .enlaces-container a:nth-child(3){
        display: none;
    }
    .enlaces-container a:nth-child(4){
        display: none;
    }
    .enlaces-container a:nth-child(5){
        display: none;
    }
    .enlaces-container a:nth-child(6){
        padding-left: 120px;
        padding-top: 2px;
    }

    .perfil-container{
        position: absolute;
        left: 70px;
        top: 70px;
        width: 270px;
        height: 270px;
        box-sizing: border-box;
    }
    .perfil-container img{
        box-sizing: border-box;
        width: 268px;
        height: 268px;
        border-radius: 200px;
    }

    .seccion1-container{
        height: 780px;
        padding-left: 30px;
        padding-right: 20px;
        background-color: #F5F5F5;
    }
    .seccion-1{
        padding-top: 200px;   
    }
    .seccion2-container{
        display: flex;
        background-color: #EAF2FD;
        width: 100%;
        height: 480px;
    }
    .seccion-sobremi{
        padding-left: 30px;
        padding-top: 40px;
    }
    .seccion-sobremi p{
        padding-right: 30px;
    }
}

@media screen and (max-width: 390px){
    nav{
        display: flex;
        background-color: #F5F5F5;
        padding: 15px;
    }
    .mi-logo{
        position: absolute;
        left: 10px;
        display: grid;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .mi-logo p{
        position: absolute;
        left: 25px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #464646;
        padding-left: 5px;
        padding-top: 3px;
    
    }

    .enlaces-container{
        position: relative;
        box-sizing: border-box;
        width: 200px;
        
    }
    .enlaces-container a{
        text-decoration: none;
        color: #464646;
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
    }
    .enlaces-container a:nth-child(1){
        display: none;
    }
    .enlaces-container a:nth-child(2){
        display: none;
    }
    .enlaces-container a:nth-child(3){
        display: none;
    }
    .enlaces-container a:nth-child(4){
        display: none;
    }
    .enlaces-container a:nth-child(5){
        display: none;
    }
    .enlaces-container a:nth-child(6){
        padding-left: 120px;
        padding-top: 2px;
    }

    .perfil-container{
        position: absolute;
        left: 55px;
        top: 70px;
        width: 270px;
        height: 270px;
        box-sizing: border-box;
    }
    .perfil-container img{
        box-sizing: border-box;
        width: 268px;
        height: 268px;
        border-radius: 200px;
    }

    .seccion1-container{
        height: 780px;
        padding-left: 30px;
        padding-right: 20px;
        background-color: #F5F5F5;
    }
    .seccion-1{
        padding-top: 200px;   
    }

    .seccion-1 h1{
        font-size: 2em;
    }

    .seccion2-container{
        display: flex;
        background-color: #EAF2FD;
        width: 100%;
        height: 480px;
    }
    .seccion-sobremi{
        padding-left: 30px;
        padding-top: 40px;
    }
    .seccion-sobremi p{
        padding-right: 30px;
    }
}